/* --------------------TIPOGRAFÍAS-------------------- */

@font-face {
	font-family: "JejuGothic";
	src: url("fonts/JejuGothic-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "InterRegular";
	src: url("fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "InterMedium";
	src: url("fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "OpenDyslexic";
	src: url("fonts/OpenDyslexic-Regular.otf") format("truetype");
}

body.jeju-gothic {
	font-family: "JejuGothic";
}

main.inter-regular {
	font-family: "InterRegular";
}

/* Declaramos donde se encuentran los elementos con la tipografía que queremos cambiar */
body.open-dyslexic header,
body.open-dyslexic main,
body.open-dyslexic button,
body.open-dyslexic .main__formularioContacto,
body.open-dyslexic .main__otrosContactos,
body.open-dyslexic ::placeholder {
	font-family: "OpenDyslexic";
}

/* --------------------CSS PRINCIPAL-------------------- */

a {
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	font-size: 1.5em;
}

header {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "JejuGothic";

	position: relative;

	img {
		margin-bottom: 5%;
	}

	background-image: url("imgs/separador.png");
	background-repeat: repeat-x;
	background-position: bottom;
}

#header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		margin: 1em;
		padding: 1em;
		border-bottom: 5px solid black;
		text-align: center;
	}

	a:hover {
		border-bottom-style: double;
		transition: 0.3s ease-in-out;
	}
}

#cambioDeTipografia {
	display: flex;
	align-items: center;
	position: absolute;
	right: 2em;
	top: 10em;

	background: transparent;
	border: none;

	img {
		height: 6em;
	}
	img:hover {
		cursor: pointer;
		transition: 0.3s ease-in-out;
		transform: scale(1.1);
	}
}

main {
	display: flex;
	grid-template-columns: repeat(16, 1fr);
	justify-content: space-between;
	grid-column: 1 / -1;

	height: 100vh;
	width: 100%;

	justify-content: center;

	background-image: url("imgs/telaTranslucid.jpg");
	background-repeat: repeat;
}

.main__formularioContacto {
	display: flex;
	flex-direction: column;
	padding: 1em;

	width: 30%;
	margin-top: 5em;

	input,
	textarea {
		padding: 1em;
		margin: 3px;

		font-family: "InterRegular";
		font-size: 0.9em;
	}

	#input__nombre,
	#input__email {
		border-radius: 10px;
	}

	button {
		margin-top: 1em;
		border: none;
		background-color: #577b4a;
		color: #ffffff;

		padding: 1em;
		width: 20%;
		border-radius: 5px;

		font-family: "InterRegular";
		font-size: large;
	}
}

.main__otrosContactos {
	display: flex;
	flex-direction: column;
	margin-top: 6em;
	padding: 1em;

	width: 20%;
	height: 40%;

	font-family: "InterRegular";
	font-size: 0.9em;

	background-color: rgb(255, 255, 255, 0.4);

	border-radius: 10px;

	text-align: center;

	img {
		width: 20%;
		margin: 5px;
	}
}

#input__descripcion {
	padding: 1em;
	margin: 3px;
	resize: none;
}
