<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/styles/css/styles.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<div class="header__titulo">
				<h2>Fin del IMPORT</h2>
			</div>
			<div class="header__nav">
				<nav class="nav__hamburger">
					<span class="nav__span"></span>
					<span class="nav__span"></span>
					<span class="nav__span"></span>
				</nav>
			</div>
		</header>
	</body>
</html>
