.index__main {
  .main__picture {
    overflow: hidden;
    max-height: 90vh;

    .img {
      width: 100%;
      height: auto;
    }

    .video {
      width: minmax(60%, 100%);
    }
  }
}

.main__tabs {
  padding: 1em;

  .tabs__botonesTab {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .botonesTab__pestana {
      margin-right: 1em;
      padding: 1em;
      cursor: pointer;
    }
    .botonesTab__pestana:hover {
      background-color: $ubriWeb-corporate-hover;
      transition: all 0.2s ease;
    }
    .activo {
      background-color: $ubriWeb-corporate;
    }

    .activo:hover {
      background-color: $ubriWeb-corporate-hover;
    }
  }
  .tabs__contenedorTexto {
    position: relative;
    overflow: hodden;
    min-height: 20vh;

    .contenedorTexto__bloque {
      position: absolute;
      top: 0;
      opacity: 0;
    }
    .activo {
      opacity: 1;
    }
  }
}
