.contacto__main {
  display: grid;
  grid-template-columns: 20% 80%;

  label {
    font-weight: bolder;
    padding-bottom: 0.5em;
  }

  .input__text {
    width: 50%;
    height: 2em;

    padding: 0.5em;

    &:hover {
      border: 2px solid $ubriWeb-corporate3-scaled;
    }

    &:focus {
      border: 2px solid $ubriWeb-corporate3;
      outline: none;
    }
  }

  .button__normal {
    width: 10em;
    height: 3em;
    outline: none;
    border: none;

    font-weight: bold;
  }

  .button__normal--send {
    background-color: $ubriWeb-corporate4;

    &.hover {
      cursor: pointer;
    }

    &:active {
      background-color: $ubriWeb-corporate4-scaled;
      border: 2px $ubriWeb-corporate4;
    }
  }

  .main__formularioContacto {
    grid-column: 2/3;
    background-color: $ubriWeb-bg;
    padding: 1em;
    border-left: 2px solid $color-black;
    background-color: $ubriWeb-bg;

    .formularioContacto__group {
      display: flex;
      flex-direction: column;
      padding-bottom: 1em;
    }

    .formularioContacto__group--checkbox {
      flex-direction: row;
      padding-bottom: 1em;

      label{
        font-weight: normal;
      }

    }

    .formularioContacto__group--botonera {
      flex-direction: row;
      align-items: center;
    }
  }
}
