* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  color: black;
}

main {
  min-height: 80vh;
}

header {
  min-height: 10vh;
}

footer {
  min-height: 10vh;
}