table {
    border-collapse: collapse;

    width: 200px;
    height: 200px;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    margin-top: 20px;
}

body {
    margin: 0%;
    padding: 0%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.header__h1--titulo{
    color: blue;
}

.table__row--first-row {
    height: 20px;
	border-bottom: 2px solid black;
}

.row__td--right-bottom {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.row__td--bottom {
    border-bottom: 1px solid gray;
}

.row__td--right {
    border-right: 1px solid gray;
}

.header__th--right {
    border-right: 2px solid black;
}

tr th:nth-child(1) {
    width: 10px;
}

.footer__b--pagina{
    color: brown;
}

.footer__h4--centrado{
    text-align: center;
}


