body {
	margin: 0;
}

.container {
	height: 100vh;
	background-color: black;
}

.container__grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;

	grid-auto-rows: minmax(15%, 20%);
}

.zonaArticulo1 {
    grid-column-start: 2 span 2;
	height: 20vh;
    background-color: brown;
}

.zonaArticulo2 {
    grid-column-start: 4 span 2;
	height: 20vh;
    background-color: red;
}

.zonaArticulo3 {
    grid-column-start: 6 span 2;
	height: 20vh;
    background-color: aquamarine;
}
