<form action="" class="main__formularioContacto">
    <div role="region" class="formularioContacto__GroupNombre">
        <label for="nombre" id="label__nombre" aria-label="input__nombre"
            >Nombre</label
        >
        <input
            type="text"
            name="nombre"
            id="nombre"
            aria-labelledby="label__nombre"
        />
    </div>
    <div role="region" class="formularioContacto__GroupPassword">
        <label
            for="input_password"
            id="label_password"
            aria-label="input_password"
            >Contraseña</label
        >
        <input
            type="password"
            id="input_password"
            name="input_password"
            required
            aria-labelledby="label_password"
        />
    </div>
    <div role="region" class="formularioContacto__GroupBotonera">
        <button>Enviar</button>
    </div>
</form>
