<!--
    HTML que incluye el lightbox para los proyectos de UBRIWEB
-->

<section class="main__lightbox-proyectos">
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/1.jpg" alt="imagen 1">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/2.jpg" alt="imagen 2">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/3.jpg" alt="imagen 3">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/4.jpg" alt="imagen 4">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/5.jpg" alt="imagen 5">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/6.jpg" alt="imagen 6">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/7.jpg" alt="imagen 7">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/8.jpg" alt="imagen 8">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/9.jpg" alt="imagen 9">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/10.jpg" alt="imagen 10">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/11.jpg" alt="imagen 11">
    </div>
    <div class="ligthbox-proyectos__div-img">
        <img class="div-img__img" src="assets/images/12.jpg" alt="imagen 12">
    </div>
</section>

<section class="main__ligthbox-proyecto-selected">
    <button class="ligthbox-proyecto-selected__boton">
        Cerrar
    </button>
    <div class="ligthbox-proyecto-selected__div-img">
        <img class="div-img__img--lightbox" src="assets/images/1.jpg" alt="imagen 1">
    </div>
</section>
