<div class="main__picture">
    <picture>
        <source
            type="image/webp"
            srcset="./assets/images/fondo_landing_1-1.webp"
        />
        <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
        <img
            class="img"
            src="./assets/images/fondo_landing_1.png"
            alt="prueba"
            srcset="./assets/images/fondo_landing_1.png"
        />
    </picture>
</div>

<section class="main__tabs">
    <div role="region" class="tabs__botonesTab">
        <div role="button" class="botonesTab__pestana">¿Quienes somos?</div>
        <div role="button" class="botonesTab__pestana">Nuestra misión</div>
        <div role="button" class="botonesTab__pestana">Nuestros principios</div>
    </div>
    <div role="region" class="tabs__contenedorTexto">
        <div tabindex="0" class="contenedorTexto__bloque">
            <!-- Imagen y al lado los datos de las personas que componen ubriweb -->
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
            autem iste vero nihil, ea molestiae. Quia, esse! Soluta, temporibus
            totam, debitis fuga veritatis natus vel obcaecati qui tempora ab
            quas?
        </div>
        <div tabindex="0" class="contenedorTexto__bloque">
            <!-- Headings diferentes misiones
          p con texto que incluya la descripción de las misiones -->
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quod
            eveniet, laudantium impedit asperiores alias optio facilis inventore
            minus! Labore, recusandae! Similique optio consectetur laboriosam
            iste animi ipsa ducimus ratione.
        </div>
        <div tabindex="0" class="contenedorTexto__bloque">
            <!-- Lista ordenada con los diferentes principios de Ubriweb -->
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo autem
            sapiente minima ipsa quod quis veniam optio enim aperiam,
            consequuntur in. Numquam, dolor nam. Consequuntur porro unde
            expedita provident laborum.
        </div>
    </div>
</section>
