<div class="main__picture">
    <picture>
        <source
            type="image/webp"
            srcset="./assets/images/fondo_landing_1-1.webp"
        />
        <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
        <img
            class="img"
            src="./assets/images/fondo_landing_1.png"
            alt="prueba"
            srcset="./assets/images/fondo_landing_1.png"
        />
    </picture>
</div>

<div class="main__carrousel">
    <div class="carrousel__grande">
        <div class="grande__picture">
            <picture>
                <source
                    type="image/webp"
                    srcset="./assets/images/1.jpg"
                />
                <source
                    type="image/jpg"
                    srcset="./assets/images/10.jpg"
                />
                <img class="imagen1" src="#" alt="prueba" srcset="#" />
            </picture>
        </div>
        <div class="grande__picture">
            <picture>
                <source
                    type="image/webp"
                    srcset="./assets/images/fondo_landing_1.jpg"
                />
                <source
                    type="image/jpg"
                    srcset="./assets/images/fondo_landing_1.jpg"
                />
                <img class="imagen2" src="#" alt="prueba" srcset="#" />
            </picture>
        </div>
    </div>
    <div class="carrousel__botones">
        <div class="botones__boton activo"></div>
        <div class="botones__boton"></div>
    </div>
</div>
