/*
Colores: Principales: #FF9900 Naranja claro
                      #FF6600 Naranja oscuro
                      #009900 Verde oscuro

         Secundarios: #330033 
                      #330000 
                      #FFFFFF 
                      #000000 


Tipografía: Zombie Holocaust Font → Display

Titulos: Roboto
Párrafo: Noto Serif Japanese
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Roboto&display=swap");

@font-face {
	font-family: "ZombieHolocaust";
	src: url("fonts/Zombie_Holocaust.ttf") format("truetype");
}

* {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: "Roboto", sans-serif;
}

p,
span,
div {
	font-family: "Noto Serif JP", serif;
}

#tituloPagina {
	font-family: "ZombieHolocaust", sans-serif;
}

.header {
	height: 90px;

	display: flex;
	justify-content: space-around;
}

.header__zonaTitulo {
	height: 100%;
	width: 20%;
	background-color: #ffffff;

	border-radius: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	transition: background-color 0.2s linear;
}

.header__zonaTitulo:hover {
	background-color: #ff6600;
	transform: scale(1.05);

	font-size: 1.2em;
}

#zonaTitulo__logo img {
	width: 60px;
	height: auto;
}

.header__zonaNavegacion {
	height: 100%;
	width: 40%;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;
}

.zonaNavegacion__div {
	padding: 5px;
	transition: 0.1s ease-out;
}

.zonaNavegacion__div:hover {
	border-bottom: 3px solid #ff6600;
	border-radius: 5px;
}

.zonaNavegacion__div h3 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #330033;
}

/*
**********ZONA MAIN**********
*/

.zonaMain {
	margin-top: 10px;

	/*Establecemos el display: grid*/
	display: grid;

	/*Cuantas columnas queremos*/
	grid-template-columns: repeat(12, 1fr); /*fr: unidad de medida*/

	/*Establecemos un tamaño mínimo*/
	grid-auto-rows: minmax(100px, auto);

	/*Aplicamos un poco de aire*/
	row-gap: 10px;
	column-gap: 10px;
}

.main__zonaImagen {
	grid-column: 2/6;

	display: flex;
	align-items: center;
	justify-content: center;
}

.main__zonaImagen img {
	width: auto;
	height: 300px;

	box-sizing: border-box;
	border: 6px solid black;
	border-radius: 10px;

	transition: 0.1s linear;
}

.main__zonaImagen img:hover {
	box-sizing: border-box;
	transform: scale(1.03);
}

.main__zonaDescripcion {
	grid-column: 6/12;

	border-left: 4px solid #330033;

	padding: 10px;
}

.main__zonaDescripcion__actores-nota {
	display: grid;
	grid-template-columns: 60% 40%;
}

.actores-nota__actores {
	grid-column: 1;
}

.actores-nota__nota {
	grid-column: 2;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

}

#nota__puntuacion {
	font-family: 'ZombieHolocaust';
	font-size: 2em;
	color: #009900;
}